extends layout

block content
  h1= title
  
  div(class="container-fluid")
        div(class="row")
            -
                let table = [
                    {
                        "Brand": "brand1",
                        "quality": "high",
                        "cost": "150"                        
                    },
                    {
                        "Brand": "brand2",
                        "quality": "medium",
                        "cost": "100"
                    },
                    {
                        "Brand": "brand3",
                        "quality": "low",
                        "cost": "100"
                    },                   
                ]
            each t,h in table 
                div(class="col-sm-2" onclick=`buy(${h})` ) #{t.Brand}
                div(class="col-sm-2" ) #{t.quality}
                div(class="col-sm-2" ) #{t.cost}


  script.
     
       function buy(a)
       {
         alert(`You purchased Item ${a+1}`)
       }

 

                
  